<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Выполнить задачу</title>
    <link media="all" type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <h1 th:text="|Задача ${param.exId} ${exercise.getTitle()}|"></h1>
    <p th:if="${isSolved}">Решена успешно</p>

    <form th:action="@{'/ex?exId=' + ${param.exId}}" method="post">
        <p><label for="code">Введите код</label><br></p>
        <p><textarea id="code"
                     name="code"
                     placeholder="Число индекс = 10 ;"
                     rows="10"
                     cols="50"
                     th:inline="text">[[${code}]]</textarea><br></p>
        <p><input type="submit" value="Запустить"></p>
    </form>

    <p>Консоль:</p>
    <br>
    <span th:if="${output}" style="white-space: pre-line" th:text="|${output}|"></span>
</body>
</html>