<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Выполнить задачу</title>
    <link media="all" type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/resize.js}"></script>
</head>
<body>
    <div id="header">
        <h1 th:text="|Задача ${exercise.getId()}|"></h1>
        <p><a href="/">Главная</a></p>
    </div>
    <h1 th:text="|${exercise.getTitle()}|"></h1>

    <p th:if="${isSolved}" style="background-color: #75ff7e; padding: 10px 15px; border-radius: 15px">Решена успешно</p>

    <form th:action="@{'/ex?exId=' + ${exercise.getId()}}" method="post">
        <p><label for="code">Введите код</label><br></p>
        <p><textarea id="code"
                     name="code"
                     placeholder="Число индекс = 10 ;"
                     rows="6"
                     cols="50"
                     th:inline="text"
                     oninput="autoResize(this)">[[${code}]]</textarea><br></p>
        <p><input type="submit" value="Запустить"></p>
    </form>

    <p>Консоль:</p>
    <br>
    <span th:if="${output}" style="white-space: pre-line" th:text="|${output}|"></span>
</body>
</html>